.three-wrapper {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity var(--animation-duration-l) ease-in-out;
  transition-delay: var(--animation-durations-l);
  opacity: 0.7;

  &.dim {
    opacity: 0.3;
  }
}
