.navbar-wrapper.desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: var(--distance-l);
  gap: var(--distance-m);
  align-items: center;
  box-sizing: border-box;
  transition: background var(--animation-duration-s) ease-in-out;

  .home {
    font-family: "BattleContinues";
    font-size: var(--font-size-xl);
  }

  &:hover,
  &:focus-within {
    background: linear-gradient(180deg, var(--accent-3) 5%, transparent 100%);
    /* background-color: var(--accent-3); */
  }
}
