@import "../../style/viewports.css";

.page-wrapper.archive {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--distance-l);

    h2 {
      font-size: var(--font-size-m);
      padding: 0 0 var(--distance-s) var(--distance-s);
    }

    .projects-wrapper {
      display: grid;
      gap: var(--distance-m);

      .project-wrapper {
        min-height: 42px;
        border-radius: var(--radius-s);
        display: flex;
        gap: var(--distance-s);
        align-items: center;
        padding: var(--distance-m);
        border: 1px solid var(--accent-2);
        border-width: 1px 1px 1px 12px;
        background-color: rgb(from var(--accent-3) r g b / 0.9);

        .name {
          height: 100%;
          width: 100%;
          text-align: left;
          font-size: var(--font-size-m);
          color: var(--accent-0);
          font-weight: normal;
          margin-right: auto;
        }
      }
    }
  }
}

@media (--viewport-m) {
  .page-wrapper.archive {
    .projects-wrapper {
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid rgb(from var(--accent-2) r g b / 0.6);
      padding: var(--distance-s);

      border-radius: var(--radius-l) 0;
    }
  }
}
