@import "../../style/viewports.css";

.page-wrapper.archive {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--distance-l);

    h2 {
      font-size: var(--font-size-m);
      padding: 0 0 var(--distance-s) var(--distance-s);
    }

    .projects-wrapper {
      display: grid;
      gap: var(--distance-m);

      .project-wrapper {
        padding-right: var(--distance-m);
        border-radius: var(--radius-s);
        display: flex;
        gap: var(--distance-s);
        align-items: center;
        border: 1px solid var(--accent-2);
        border-width: 1px 1px 1px 12px;

        background-color: rgb(from var(--accent-3) r g b / 0.9);

        .name {
          height: 100%;
          width: 100%;
          text-align: left;
          font-size: var(--font-size-m);
          color: var(--accent-0);
          font-weight: normal;
          margin-right: auto;
          padding: var(--distance-l) var(--distance-m);
        }
      }
    }
  }
}

@media (--viewport-m) {
  .page-wrapper.archive {
    .grid-wrapper {
      gap: var(--distance-xl);
    }
    .projects-wrapper {
      grid-template-columns: 1fr 1fr;

      .project-wrapper {
        transition: background-color 0.1s;
      }

      .project-wrapper:is(:hover, :focus-within, :focus) {
        background-color: rgb(from var(--accent-2) r g b / 0.4);

        button.name {
          font-weight: bold;
        }
      }
    }
  }
}
