/* positioning */
.page-wrapper {
  height: 100%;

  h1 {
    text-shadow: 1px 1px 3px var(--accent-3);
  }

  &.full {
  }

  &.half,
  &.third {
    display: grid;
  }

  &.half {
    grid-template-rows: 1fr 1fr;

    .content {
      grid-row: 2 / 2;
    }
  }

  &.third {
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;

    .content {
      grid-row: 3 / 3;
    }
  }
}
