.page-wrapper.welcome {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  p.normal {
    opacity: 0.7;
    font-size: var(--font-size-l);
  }

  .header {
    h1 {
      padding: 0;
    }
    p {
      color: var(--accent-0);
      margin-top: var(--distance-s);
    }
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    grid-row: 3;

    &.default {
      font-size: var(--font-size-2xl);
      font-weight: 300;
    }

    &.shared {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cta {
        color: var(--accent-0);
        font-weight: 300;
        font-size: var(--font-size-2xl);
      }
    }
  }
}
