.page-wrapper.welcome {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;

  p.normal {
    opacity: 0.7;
    font-size: var(--font-size-l);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1;

    h1 {
      padding: 0;
    }
    p {
      margin-top: var(--distance-xs);
      font-weight: 400;
    }
  }

  a {
    grid-row: 3;

    &.default {
      font-size: var(--font-size-2xl);
      font-weight: 300;
    }

    &.shared {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .cta {
    font-weight: 300;
    font-size: var(--font-size-2xl);

    /* shine animation */
    mask-image: linear-gradient(-75deg, #000 10%, #0007 15%, #000 20%);
    mask-size: 200%;
    mask-position: 200%;
    animation: shine 6s linear infinite;
    animation-delay: 3s;
  }
}

.test {
}

@keyframes shine {
  from {
    mask-position: 200%;
  }
  to {
    mask-position: 0%;
  }
}
