.projects-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: fadeIn 0.3s ease-in-out;
  h1 {
    margin-bottom: var(--distance-m);
  }

  .filter-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--distance-m);

    button {
      transition: opacity var(--animation-duration-s);
    }

    &:has(.selected) {
      :not(.selected) {
        opacity: 0.5;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: var(--distance-m);
  }
}
