.project-wrapper {
  display: grid;
  place-items: center;
  touch-action: none;
  flex: 1;

  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  padding: var(--distance-m);

  .project {
    position: absolute;
    height: calc(100% - var(--distance-m) * 2);
    aspect-ratio: 1;
    box-sizing: border-box;
    padding: var(--distance-m) calc(var(--distance-m) + var(--distance-s));
    border: 1px solid var(--accent-2);
    border-radius: var(--radius-m);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .name {
      align-self: start;
    }

    .tag {
      align-self: end;
    }

    .play-button {
      align-self: center;
    }
  }
}
