.project-reel-wrapper {
  display: grid;
  place-items: center;
  touch-action: none;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;

  .project {
    position: absolute;
    height: calc(100% - var(--distance-l) * 2);
    aspect-ratio: 1;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: var(--radius-s);
    border: solid var(--accent-2);
    border-width: 1px 1px 1px 12px;
    overflow: hidden;

    .content {
      height: 100%;
      box-sizing: border-box;
      padding: var(--distance-m) calc(var(--distance-m) + var(--distance-s));
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background-color: var(--accent-3);
      background-color: rgb(from var(--accent-3) r g b / 0.9);
      user-select: none;
      cursor: grab;

      .name {
        align-self: start;
      }

      .tag {
        align-self: end;
      }

      button {
        align-self: center;
        color: var(--accent-1);
      }
    }
  }
}
