.project-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  touch-action: none;

  position: relative;
  overflow-x: hidden;

  .project {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    box-sizing: border-box;
    padding: var(--distance-s);
    border: 1px solid var(--accent-2);
    border-radius: var(--radius-l);
    display: grid;
    place-items: center;
    background-color: rgb(from var(--accent-3) r g b / 0.9);
  }
}
