.page-wrapper.projects {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 100%;

  .wrap-all {
    display: grid;
    grid-template-rows: min-content 1fr 50%;
    height: 100%;
  }

  .controls-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-row: 2/2;
  }

  .content {
    grid-row: 3/3;
    display: flex;
    flex-direction: column;
    height: 100%;

    .selector-wrapper {
      position: relative;
      flex: 1;
      .project-selector {
        aspect-ratio: 1;
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }

    h1 {
      position: relative;
      align-self: center;
      z-index: 100;

      button {
        position: absolute;
        scale: 1;
        opacity: 0.5;
        transition: scale var(--animation-duration-s);
        bottom: 0;

        &.hide {
          span {
            font-size: 20px;
          }
          transform: translate(-35px, 15px) rotate(25deg);
          left: 0;
        }
        &.filter {
          right: 0;
          transform: translate(28px, 20px) rotate(30deg);
        }

        &.open {
          opacity: 1;
        }
      }
    }
  }
}
