.projects-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .project-selector {
    position: relative;
    flex: 1;
  }
  .reel-wrapper {
    height: 100%;
    width: 100%;

    /* opacity: 0.6; */
    /* transform: rotateX(20deg); */
    transform-origin: bottom center;
  }
  h1 {
    position: relative;
    align-self: center;
    /* margin-bottom: var(--distance-l); */
  }
  button.filter {
    /* font-family: "BattleContinues"; */
    z-index: 100;
    position: absolute;
    transform: rotate(20deg);
    bottom: -8px;
    right: -32px;
    opacity: 0.3;
    /* margin-top: var(--distance-m); */
  }
}
