.tag-selector-wrapper {
  box-sizing: border-box;
  padding: var(--distance-l) var(--distance-l) 0 var(--distance-l);
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  height: 100%;

  .header {
    place-self: start;
    margin-top: var(--distance-s);
    margin-right: var(--distance-m);
    opacity: 0.4;
    font-size: var(--font-size-xl);
    writing-mode: vertical-rl;
    text-orientation: sideways;
    rotate: -180deg;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: var(--distance-m) var(--distance-l);
    overflow: scroll;
    padding-bottom: var(--distance-l);

    button {
      transition: font-weight var(--animation-duration-s) ease-in-out;
      margin: 0;
      padding: 0;
      font-size: var(--font-size-xl);
      font-weight: 300;
      &.selected {
        font-weight: bold;
      }
    }
  }
}
