@import "../../../style/viewports.css";

.media-controls-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--distance-m);
  box-sizing: border-box;

  .now-playing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--distance-s);

    h1 {
      padding-bottom: var(--distance-s);
    }

    span {
      font-size: var(--font-size-l);
      opacity: 0.6;
    }
  }

  .interaction.top {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: var(--distance-s) 0;
    gap: var(--distance-l);

    .loop {
      translate: 0 -5px;
    }
    margin-top: auto;
    opacity: 0.6;
  }
  .interaction.center {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;

    button.skip {
      font-size: 36px;
    }
    button.play {
      font-size: 72px;
      color: var(--accent-0);
    }
    button:not(.play),
    a {
      color: var(--accent-1);
    }
  }

  button.hide {
    opacity: 0.4;
    place-self: center;
    font-size: 48px;
    line-height: 30px;
    margin-bottom: var(--distance-l);
  }
}

@media (--viewport-s) {
  .media-controls-wrapper .interaction.center {
    padding: 0 var(--distance-l) var(--distance-l);
    justify-content: space-between;
  }
}

@media (--viewport-m) {
  .media-controls-wrapper .interaction.center {
    justify-content: center;
    gap: var(--distance-xl);

    padding: var(--distance-m) var(--distance-xl) var(--distance-l);
  }
}
