.project-reel-wrapper {
  display: grid;
  place-items: center;
  touch-action: none;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;

  .project {
    --dimension: calc(100% - var(--distance-l) * 2);

    position: absolute;
    height: var(--dimension);
    object-fit: cover;

    aspect-ratio: 1;
    max-width: var(--dimension);
    box-sizing: border-box;
    border-radius: var(--radius-s);
    border: solid var(--accent-2);
    border-width: 1px 1px 1px 12px;
    overflow: hidden;
    background-color: var(--accent-3);

    .content {
      height: 100%;
      box-sizing: border-box;
      padding: var(--distance-m);
      padding-left: calc(var(--distance-m) + var(--distance-s));
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      user-select: none;
      cursor: grab;

      .info {
        .name {
          font-weight: bold;
          font-size: var(--font-size-l);
        }
        .tag {
          margin-top: var(--distance-xs);
          opacity: 0.5;
        }
      }

      .buttons {
        place-self: end;
        display: flex;
        gap: var(--distance-s);
        opacity: 0.5;
      }

      button.play {
        font-size: 70px;
      }
    }
  }
}
