/* positioning */
.page-wrapper {
  height: 100%;
  animation: fadeIn var(--animation-duration-m) ease-in-out;
  animation-delay: var(--animation-duration-m);
  animation-fill-mode: backwards;

  &.full {
    backdrop-filter: blur(10px);
  }

  &.half,
  &.third {
    display: grid;
  }

  &.half {
    grid-template-rows: 1fr 1fr;

    .content {
      grid-row: 2 / 2;
    }
  }

  &.third {
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;

    .content {
      grid-row: 3 / 3;
    }
  }
}
