.projects-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
  animation: fadeIn 0.3s ease-in-out;

  .project-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;

    .project {
      aspect-ratio: 1;
      object-fit: contain;
      box-sizing: border-box;
      padding: var(--distance-s);
      border: 1px solid var(--accent-2);
      border-radius: var(--radius-l);
      display: grid;
      place-items: center;
      background-color: rgb(from var(--accent-3) r g b / 0.9);
    }
  }

  .filter-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--distance-m);

    button {
      transition: opacity var(--animation-duration-s);
    }

    &:has(.selected) {
      :not(.selected) {
        opacity: 0.5;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: var(--distance-m);
  }
}
