/* diese styles als module importieren */

.page-wrapper {
  box-sizing: border-box;
  height: 100%;

  &.welcome {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    a {
      grid-row: 3/3;
    }
  }
  &.projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  &.ducko {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
