.navbar-wrapper.desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: var(--distance-l);
  gap: var(--distance-m);
  align-items: center;
  box-sizing: border-box;
  transition: background-color var(--animation-duration-s) ease-in-out;

  .home {
    font-family: "BattleContinues";
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  a:not(.home) {
    font-size: var(--font-size-l);
  }

  .impressum {
    margin-left: auto;
  }

  .me {
    display: flex;
    gap: var(--distance-xs);
    a {
      font-size: var(--font-size-xl);
    }
  }
}
