body {
  /* background-color: black;
  canvas {
    filter: invert(1);
  } */
  margin: 0;
  padding: 0;
}

main {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 16px;
  height: 100dvh;
  box-sizing: border-box;
}

.three-wrapper {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: -1;
}
