@import "./style/variables";
@import "./style/layout";
@import "./style/remixicon";

@font-face {
  font-family: "BattleContinues";
  src: url(./assets/fonts/TheBattleCont.ttf) format("truetype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--accent-3);
  color: var(--accent-0);
  overflow: hidden;

  #root {
    display: flex;
    justify-content: center;
    height: 100dvh;
    main {
      width: 1200px;
    }
  }
}

h1 {
  font-family: "BattleContinues";
  text-align: center;
  font-size: 2.5em;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--accent-1);
}

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  color: var(--accent-0);
  text-shadow: 1px 1px 3px var(--accent-3);

  &:disabled {
    cursor: initial;
    opacity: 0.7;
  }
}

.big-ducko-print {
  font-size: var(--font-size-3xl);
  text-shadow: -3px 4px 0px var(--accent-3);
  font-weight: bold;
  font-family: "BattleContinues";
}

.delayed-fade-in {
  animation: fadeIn var(--animation-duration-l) ease-in-out;
  animation-delay: var(--animation-duration-l);
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
