@import "./style/variables";
@import "./style/layout";
@import "./style/remixicon";

@font-face {
  font-family: "BattleContinues";
  src: url(./assets/fonts/TheBattleCont.ttf) format("truetype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--accent-3);
  color: var(--accent-0);
  overflow: hidden;

  #root {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: 100dvh;
    main {
      width: 1200px;
    }
  }
}

h2,
p {
  margin: 0;
}
p {
  line-height: 1.7;
}

h2,
button,
p,
a,
li,
.text-shadow {
  text-shadow:
    1px 1px 3px var(--accent-3),
    1px 1px 10px var(--accent-3);
}

h1 {
  font-size: 2.5em;
  padding: 56px 16px;
  margin: 0;
  font-weight: normal;

  &.sticky {
    position: sticky;
    top: 0;
  }
}

h1,
.big-ducko-print {
  font-family: "BattleContinues";
  text-align: center;
  text-shadow:
    1px 1px 3px var(--accent-3),
    1px 1px 10px var(--accent-3),
    2px 2px 15px var(--accent-3);
}

.big-ducko-print {
  font-size: var(--font-size-3xl);
}

h2 {
  font-weight: bold;
  color: var(--accent-1);
}

a {
  text-decoration: none;
  color: var(--accent-1);
}

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  color: var(--accent-1);

  &:disabled {
    cursor: initial;
    opacity: 0.7;
  }
}

.delayed-fade-in,
.page-wrapper {
  animation: fadeIn var(--animation-duration-l) ease-in-out;
  animation-delay: var(--animation-duration-l);
  animation-fill-mode: backwards;
}

.page-wrapper {
  box-sizing: border-box;
  padding-top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
