@import "./style/viewports";

.navbar-wrapper {
  position: fixed;
  z-index: 2;
  padding: var(--distance-m);
  width: 100%;
  display: flex;
  box-sizing: border-box;

  .home,
  .menu {
    font-family: "BattleContinues";
  }

  .home {
    &.small {
      font-size: var(--font-size-xl);
    }
  }
}

@media (--viewport-s) {
  .navbar-wrapper {
    .menu {
      z-index: 22;
      margin-left: auto;
      transition: transform var(--animation-duration-s) ease-out;
      width: 26px;
      height: 26px;
      box-sizing: content-box;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      gap: 2px;
      justify-content: center;
      transition: transform var(--animation-duration-s) ease-out;
      transform: rotate(90deg);

      &.open {
        transform: rotate(45deg);
      }
    }

    .nav-items-wrapper {
      position: fixed;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100dvh;
      box-sizing: border-box;

      .nav-items {
        .home.big {
          font-size: var(--font-size-3xl);
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--distance-m);
        padding: var(--distance-xl) var(--distance-l);
      }
      backdrop-filter: blur(10px);
      /* background-color: var(--accent-3); */
    }
  }

  .navbar-wrapper.open {
    .menu {
      transform: rotate(45deg);
    }
    .home.small {
      /* opacity: 0; */
    }

    .nav-items-wrapper {
      /* opacity: 1;
      visibility: visible; */
    }
  }
}

@media (--viewport-m) {
  .navbar-wrapper {
    .menu {
      visibility: hidden;
    }

    &::before {
      content: "add css lol";
    }
  }
}

/*
  .home {
    &.small {
      top: 0;
      left: 0;
      font-size: 2em;
      transition: transform 0.3s ease-in-out;
    }
    &.big {
      font-size: 3em;
    }
  }

  .home.small,
  .menu {
    position: fixed;
    z-index: 2;
    padding: var(--distance-m);
  }

  .home,
  .menu {
    font-family: "BattleContinues";
  }

  &.open {
    .home.small {
      visibility: hidden;
    }
    .menu {
      transform: rotate(0deg);
    }
  }

  .menu {
    width: 32px;
    height: 32px;
    box-sizing: content-box;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    font-family: "BattleContinues";
    font-size: 1.5em;
  }
  .nav-items-wrapper {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    padding: var(--distance-l) var(--distance-m);
    width: 100vw;
    flex-direction: column;
    gap: var(--distance-m);
    height: 100dvh;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
  }
*/
